{
    "$schema": "https://json.schemastore.org/semantic-release.json",
    "repositoryUrl": "https://github.com/Avivbens/alfred-engage-contact.git",
    "branches": [
        "+([0-9])?(.{+([0-9]),x}).x",
        "master",
        "next",
        "next-major",
        {
            "name": "beta",
            "prerelease": true
        },
        {
            "name": "alpha",
            "prerelease": true
        }
    ],
    "tagFormat": "v${version}",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "npx fast-alfred -t ${nextRelease.version}"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "package-lock.json",
                    "info.plist",
                    "CHANGELOG.md"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "./build/alfred-engage-contact.alfredworkflow",
                        "label": "alfred-engage-contact.alfredworkflow",
                        "name": "alfred-engage-contact.alfredworkflow"
                    }
                ]
            }
        ]
    ]
}
