<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.alfredapp.engage-contact</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict>
      <key>0D0645C0-EC0C-45FA-823E-FCC07F34732B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>EA32942B-CBBB-4905-936E-5DE495CCC2A0</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false></false>
        </dict>
      </array>
      <key>2C4CF4B2-1195-4429-B7C4-CAF6746D8722</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>EA32942B-CBBB-4905-936E-5DE495CCC2A0</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false></false>
        </dict>
      </array>
      <key>8568F7A7-ABF6-49AA-9EDA-CB0C5429CE07</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>EA32942B-CBBB-4905-936E-5DE495CCC2A0</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false></false>
        </dict>
      </array>
      <key>EA32942B-CBBB-4905-936E-5DE495CCC2A0</key>
      <array></array>
      <key>EF6C4CFE-EBD3-4B86-8B85-573CA33646CA</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>6EC31C4D-D182-4389-A6B1-282BA93F5ACE</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
          <key>vitoclose</key>
          <false></false>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Aviv Ben Shahar</string>
    <key>description</key>
    <string>Alfred Workflow to search contacts and engage with them</string>
    <key>disabled</key>
    <false></false>
    <key>name</key>
    <string>Engage Contact</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false></false>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true></true>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>ecw</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <false></false>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./build/Release/run-node.sh build/contacts.js "$1" "whatsapp"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>subtext</key>
          <string>Open in WhatsApp</string>
          <key>title</key>
          <string>Search for Contacts...</string>
          <key>type</key>
          <integer>5</integer>
          <key>withspace</key>
          <true></true>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>0D0645C0-EC0C-45FA-823E-FCC07F34732B</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false></false>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true></true>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>ecc</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <false></false>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./build/Release/run-node.sh build/contacts.js "$1" "call"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>subtext</key>
          <string>Start a call</string>
          <key>title</key>
          <string>Search for Contacts...</string>
          <key>type</key>
          <integer>5</integer>
          <key>withspace</key>
          <true></true>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>8568F7A7-ABF6-49AA-9EDA-CB0C5429CE07</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false></false>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true></true>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>ecs</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <false></false>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./build/Release/run-node.sh build/contacts.js "$1" "sms"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>subtext</key>
          <string>Open in SMS</string>
          <key>title</key>
          <string>Search for Contacts...</string>
          <key>type</key>
          <integer>5</integer>
          <key>withspace</key>
          <true></true>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>2C4CF4B2-1195-4429-B7C4-CAF6746D8722</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false></false>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>./build/Release/run-node.sh build/engage-contact.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>type</key>
          <integer>5</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>EA32942B-CBBB-4905-936E-5DE495CCC2A0</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>ecr</string>
          <key>subtext</key>
          <string>Clear contacts cache</string>
          <key>text</key>
          <string>Clear Cache</string>
          <key>withspace</key>
          <false></false>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>EF6C4CFE-EBD3-4B86-8B85-573CA33646CA</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false></false>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>./build/Release/run-node.sh build/clear-cache "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string></string>
          <key>type</key>
          <integer>5</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>6EC31C4D-D182-4389-A6B1-282BA93F5ACE</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
    </array>
    <key>readme</key>
    <string>Search contacts and engage with them via Alfred ✨

Supported apps:
- SMS
- Call
- WhatsApp

See the workflow codebase in here:
https://github.com/Avivbens/alfred-engage-contact</string>
    <key>uidata</key>
    <dict>
      <key>0D0645C0-EC0C-45FA-823E-FCC07F34732B</key>
      <dict>
        <key>xpos</key>
        <integer>75</integer>
        <key>ypos</key>
        <integer>65</integer>
      </dict>
      <key>2C4CF4B2-1195-4429-B7C4-CAF6746D8722</key>
      <dict>
        <key>xpos</key>
        <integer>75</integer>
        <key>ypos</key>
        <integer>335</integer>
      </dict>
      <key>6EC31C4D-D182-4389-A6B1-282BA93F5ACE</key>
      <dict>
        <key>xpos</key>
        <integer>480</integer>
        <key>ypos</key>
        <integer>865</integer>
      </dict>
      <key>8568F7A7-ABF6-49AA-9EDA-CB0C5429CE07</key>
      <dict>
        <key>xpos</key>
        <integer>75</integer>
        <key>ypos</key>
        <integer>195</integer>
      </dict>
      <key>EA32942B-CBBB-4905-936E-5DE495CCC2A0</key>
      <dict>
        <key>xpos</key>
        <integer>920</integer>
        <key>ypos</key>
        <integer>400</integer>
      </dict>
      <key>EF6C4CFE-EBD3-4B86-8B85-573CA33646CA</key>
      <dict>
        <key>xpos</key>
        <integer>80</integer>
        <key>ypos</key>
        <integer>865</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>US</string>
          <key>pairs</key>
          <array>
            <array>
              <string>Afghanistan</string>
              <string>AF</string>
            </array>
            <array>
              <string>land Islands</string>
              <string>AX</string>
            </array>
            <array>
              <string>Albania</string>
              <string>AL</string>
            </array>
            <array>
              <string>Algeria</string>
              <string>DZ</string>
            </array>
            <array>
              <string>American Samoa</string>
              <string>AS</string>
            </array>
            <array>
              <string>Andorra</string>
              <string>AD</string>
            </array>
            <array>
              <string>Angola</string>
              <string>AO</string>
            </array>
            <array>
              <string>Anguilla</string>
              <string>AI</string>
            </array>
            <array>
              <string>Antarctica</string>
              <string>AQ</string>
            </array>
            <array>
              <string>Antigua and Barbuda</string>
              <string>AG</string>
            </array>
            <array>
              <string>Argentina</string>
              <string>AR</string>
            </array>
            <array>
              <string>Armenia</string>
              <string>AM</string>
            </array>
            <array>
              <string>Aruba</string>
              <string>AW</string>
            </array>
            <array>
              <string>Australia</string>
              <string>AU</string>
            </array>
            <array>
              <string>Austria</string>
              <string>AT</string>
            </array>
            <array>
              <string>Azerbaijan</string>
              <string>AZ</string>
            </array>
            <array>
              <string>Bahamas (the)</string>
              <string>BS</string>
            </array>
            <array>
              <string>Bahrain</string>
              <string>BH</string>
            </array>
            <array>
              <string>Bangladesh</string>
              <string>BD</string>
            </array>
            <array>
              <string>Barbados</string>
              <string>BB</string>
            </array>
            <array>
              <string>Belarus</string>
              <string>BY</string>
            </array>
            <array>
              <string>Belgium</string>
              <string>BE</string>
            </array>
            <array>
              <string>Belize</string>
              <string>BZ</string>
            </array>
            <array>
              <string>Benin</string>
              <string>BJ</string>
            </array>
            <array>
              <string>Bermuda</string>
              <string>BM</string>
            </array>
            <array>
              <string>Bhutan</string>
              <string>BT</string>
            </array>
            <array>
              <string>Bolivia (Plurinational State of)</string>
              <string>BO</string>
            </array>
            <array>
              <string>Bonaire, Sint Eustatius and Saba</string>
              <string>BQ</string>
            </array>
            <array>
              <string>Bosnia and Herzegovina</string>
              <string>BA</string>
            </array>
            <array>
              <string>Botswana</string>
              <string>BW</string>
            </array>
            <array>
              <string>Bouvet Island</string>
              <string>BV</string>
            </array>
            <array>
              <string>Brazil</string>
              <string>BR</string>
            </array>
            <array>
              <string>British Indian Ocean Territory (the)</string>
              <string>IO</string>
            </array>
            <array>
              <string>Brunei Darussalam</string>
              <string>BN</string>
            </array>
            <array>
              <string>Bulgaria</string>
              <string>BG</string>
            </array>
            <array>
              <string>Burkina Faso</string>
              <string>BF</string>
            </array>
            <array>
              <string>Burundi</string>
              <string>BI</string>
            </array>
            <array>
              <string>Cabo Verde</string>
              <string>CV</string>
            </array>
            <array>
              <string>Cambodia</string>
              <string>KH</string>
            </array>
            <array>
              <string>Cameroon</string>
              <string>CM</string>
            </array>
            <array>
              <string>Canada</string>
              <string>CA</string>
            </array>
            <array>
              <string>Cayman Islands (the)</string>
              <string>KY</string>
            </array>
            <array>
              <string>Central African Republic (the)</string>
              <string>CF</string>
            </array>
            <array>
              <string>Chad</string>
              <string>TD</string>
            </array>
            <array>
              <string>Chile</string>
              <string>CL</string>
            </array>
            <array>
              <string>China</string>
              <string>CN</string>
            </array>
            <array>
              <string>Christmas Island</string>
              <string>CX</string>
            </array>
            <array>
              <string>Cocos (Keeling) Islands (the)</string>
              <string>CC</string>
            </array>
            <array>
              <string>Colombia</string>
              <string>CO</string>
            </array>
            <array>
              <string>Comoros (the)</string>
              <string>KM</string>
            </array>
            <array>
              <string>Congo (the Democratic Republic of the)</string>
              <string>CD</string>
            </array>
            <array>
              <string>Congo (the)</string>
              <string>CG</string>
            </array>
            <array>
              <string>Cook Islands (the)</string>
              <string>CK</string>
            </array>
            <array>
              <string>Costa Rica</string>
              <string>CR</string>
            </array>
            <array>
              <string>Côte d'Ivoire</string>
              <string>CI</string>
            </array>
            <array>
              <string>Croatia</string>
              <string>HR</string>
            </array>
            <array>
              <string>Cuba</string>
              <string>CU</string>
            </array>
            <array>
              <string>Cura&amp;ccedil;ao</string>
              <string>CW</string>
            </array>
            <array>
              <string>Cyprus</string>
              <string>CY</string>
            </array>
            <array>
              <string>Czechia</string>
              <string>CZ</string>
            </array>
            <array>
              <string>Denmark</string>
              <string>DK</string>
            </array>
            <array>
              <string>Djibouti</string>
              <string>DJ</string>
            </array>
            <array>
              <string>Dominica</string>
              <string>DM</string>
            </array>
            <array>
              <string>Dominican Republic (the)</string>
              <string>DO</string>
            </array>
            <array>
              <string>Ecuador</string>
              <string>EC</string>
            </array>
            <array>
              <string>Egypt</string>
              <string>EG</string>
            </array>
            <array>
              <string>El Salvador</string>
              <string>SV</string>
            </array>
            <array>
              <string>Equatorial Guinea</string>
              <string>GQ</string>
            </array>
            <array>
              <string>Eritrea</string>
              <string>ER</string>
            </array>
            <array>
              <string>Estonia</string>
              <string>EE</string>
            </array>
            <array>
              <string>Eswatini</string>
              <string>SZ</string>
            </array>
            <array>
              <string>Ethiopia</string>
              <string>ET</string>
            </array>
            <array>
              <string>Falkland Islands (the) [Malvinas]</string>
              <string>FK</string>
            </array>
            <array>
              <string>Faroe Islands (the)</string>
              <string>FO</string>
            </array>
            <array>
              <string>Fiji</string>
              <string>FJ</string>
            </array>
            <array>
              <string>Finland</string>
              <string>FI</string>
            </array>
            <array>
              <string>France</string>
              <string>FR</string>
            </array>
            <array>
              <string>French Guiana</string>
              <string>GF</string>
            </array>
            <array>
              <string>French Polynesia</string>
              <string>PF</string>
            </array>
            <array>
              <string>French Southern Territories (the)</string>
              <string>TF</string>
            </array>
            <array>
              <string>Gabon</string>
              <string>GA</string>
            </array>
            <array>
              <string>Gambia (the)</string>
              <string>GM</string>
            </array>
            <array>
              <string>Georgia</string>
              <string>GE</string>
            </array>
            <array>
              <string>Germany</string>
              <string>DE</string>
            </array>
            <array>
              <string>Ghana</string>
              <string>GH</string>
            </array>
            <array>
              <string>Gibraltar</string>
              <string>GI</string>
            </array>
            <array>
              <string>Greece</string>
              <string>GR</string>
            </array>
            <array>
              <string>Greenland</string>
              <string>GL</string>
            </array>
            <array>
              <string>Grenada</string>
              <string>GD</string>
            </array>
            <array>
              <string>Guadeloupe</string>
              <string>GP</string>
            </array>
            <array>
              <string>Guam</string>
              <string>GU</string>
            </array>
            <array>
              <string>Guatemala</string>
              <string>GT</string>
            </array>
            <array>
              <string>Guernsey</string>
              <string>GG</string>
            </array>
            <array>
              <string>Guinea</string>
              <string>GN</string>
            </array>
            <array>
              <string>Guinea-Bissau</string>
              <string>GW</string>
            </array>
            <array>
              <string>Guyana</string>
              <string>GY</string>
            </array>
            <array>
              <string>Haiti</string>
              <string>HT</string>
            </array>
            <array>
              <string>Heard Island and McDonald Islands</string>
              <string>HM</string>
            </array>
            <array>
              <string>Holy See (the)</string>
              <string>VA</string>
            </array>
            <array>
              <string>Honduras</string>
              <string>HN</string>
            </array>
            <array>
              <string>Hong Kong</string>
              <string>HK</string>
            </array>
            <array>
              <string>Hungary</string>
              <string>HU</string>
            </array>
            <array>
              <string>Iceland</string>
              <string>IS</string>
            </array>
            <array>
              <string>India</string>
              <string>IN</string>
            </array>
            <array>
              <string>Indonesia</string>
              <string>ID</string>
            </array>
            <array>
              <string>Iran (Islamic Republic of)</string>
              <string>IR</string>
            </array>
            <array>
              <string>Iraq</string>
              <string>IQ</string>
            </array>
            <array>
              <string>Ireland</string>
              <string>IE</string>
            </array>
            <array>
              <string>Isle of Man</string>
              <string>IM</string>
            </array>
            <array>
              <string>Israel</string>
              <string>IL</string>
            </array>
            <array>
              <string>Italy</string>
              <string>IT</string>
            </array>
            <array>
              <string>Jamaica</string>
              <string>JM</string>
            </array>
            <array>
              <string>Japan</string>
              <string>JP</string>
            </array>
            <array>
              <string>Jersey</string>
              <string>JE</string>
            </array>
            <array>
              <string>Jordan</string>
              <string>JO</string>
            </array>
            <array>
              <string>Kazakhstan</string>
              <string>KZ</string>
            </array>
            <array>
              <string>Kenya</string>
              <string>KE</string>
            </array>
            <array>
              <string>Kiribati</string>
              <string>KI</string>
            </array>
            <array>
              <string>Korea (the Democratic People's Republic of)</string>
              <string>KP</string>
            </array>
            <array>
              <string>Korea (the Republic of)</string>
              <string>KR</string>
            </array>
            <array>
              <string>Kuwait</string>
              <string>KW</string>
            </array>
            <array>
              <string>Kyrgyzstan</string>
              <string>KG</string>
            </array>
            <array>
              <string>Lao People's Democratic Republic (the)</string>
              <string>LA</string>
            </array>
            <array>
              <string>Latvia</string>
              <string>LV</string>
            </array>
            <array>
              <string>Lebanon</string>
              <string>LB</string>
            </array>
            <array>
              <string>Lesotho</string>
              <string>LS</string>
            </array>
            <array>
              <string>Liberia</string>
              <string>LR</string>
            </array>
            <array>
              <string>Libya</string>
              <string>LY</string>
            </array>
            <array>
              <string>Liechtenstein</string>
              <string>LI</string>
            </array>
            <array>
              <string>Lithuania</string>
              <string>LT</string>
            </array>
            <array>
              <string>Luxembourg</string>
              <string>LU</string>
            </array>
            <array>
              <string>Macao</string>
              <string>MO</string>
            </array>
            <array>
              <string>Republic of North Macedonia</string>
              <string>MK</string>
            </array>
            <array>
              <string>Madagascar</string>
              <string>MG</string>
            </array>
            <array>
              <string>Malawi</string>
              <string>MW</string>
            </array>
            <array>
              <string>Malaysia</string>
              <string>MY</string>
            </array>
            <array>
              <string>Maldives</string>
              <string>MV</string>
            </array>
            <array>
              <string>Mali</string>
              <string>ML</string>
            </array>
            <array>
              <string>Malta</string>
              <string>MT</string>
            </array>
            <array>
              <string>Marshall Islands (the)</string>
              <string>MH</string>
            </array>
            <array>
              <string>Martinique</string>
              <string>MQ</string>
            </array>
            <array>
              <string>Mauritania</string>
              <string>MR</string>
            </array>
            <array>
              <string>Mauritius</string>
              <string>MU</string>
            </array>
            <array>
              <string>Mayotte</string>
              <string>YT</string>
            </array>
            <array>
              <string>Mexico</string>
              <string>MX</string>
            </array>
            <array>
              <string>Micronesia (Federated States of)</string>
              <string>FM</string>
            </array>
            <array>
              <string>Moldova (the Republic of)</string>
              <string>MD</string>
            </array>
            <array>
              <string>Monaco</string>
              <string>MC</string>
            </array>
            <array>
              <string>Mongolia</string>
              <string>MN</string>
            </array>
            <array>
              <string>Montenegro</string>
              <string>ME</string>
            </array>
            <array>
              <string>Montserrat</string>
              <string>MS</string>
            </array>
            <array>
              <string>Morocco</string>
              <string>MA</string>
            </array>
            <array>
              <string>Mozambique</string>
              <string>MZ</string>
            </array>
            <array>
              <string>Myanmar</string>
              <string>MM</string>
            </array>
            <array>
              <string>Namibia</string>
              <string>NA</string>
            </array>
            <array>
              <string>Nauru</string>
              <string>NR</string>
            </array>
            <array>
              <string>Nepal</string>
              <string>NP</string>
            </array>
            <array>
              <string>Netherlands (the)</string>
              <string>NL</string>
            </array>
            <array>
              <string>New Caledonia</string>
              <string>NC</string>
            </array>
            <array>
              <string>New Zealand</string>
              <string>NZ</string>
            </array>
            <array>
              <string>Nicaragua</string>
              <string>NI</string>
            </array>
            <array>
              <string>Niger (the)</string>
              <string>NE</string>
            </array>
            <array>
              <string>Nigeria</string>
              <string>NG</string>
            </array>
            <array>
              <string>Niue</string>
              <string>NU</string>
            </array>
            <array>
              <string>Norfolk Island</string>
              <string>NF</string>
            </array>
            <array>
              <string>Northern Mariana Islands (the)</string>
              <string>MP</string>
            </array>
            <array>
              <string>Norway</string>
              <string>NO</string>
            </array>
            <array>
              <string>Oman</string>
              <string>OM</string>
            </array>
            <array>
              <string>Pakistan</string>
              <string>PK</string>
            </array>
            <array>
              <string>Palau</string>
              <string>PW</string>
            </array>
            <array>
              <string>Palestine, State of</string>
              <string>PS</string>
            </array>
            <array>
              <string>Panama</string>
              <string>PA</string>
            </array>
            <array>
              <string>Papua New Guinea</string>
              <string>PG</string>
            </array>
            <array>
              <string>Paraguay</string>
              <string>PY</string>
            </array>
            <array>
              <string>Peru</string>
              <string>PE</string>
            </array>
            <array>
              <string>Philippines (the)</string>
              <string>PH</string>
            </array>
            <array>
              <string>Pitcairn</string>
              <string>PN</string>
            </array>
            <array>
              <string>Poland</string>
              <string>PL</string>
            </array>
            <array>
              <string>Portugal</string>
              <string>PT</string>
            </array>
            <array>
              <string>Puerto Rico</string>
              <string>PR</string>
            </array>
            <array>
              <string>Qatar</string>
              <string>QA</string>
            </array>
            <array>
              <string>R&amp;eacute;union</string>
              <string>RE</string>
            </array>
            <array>
              <string>Romania</string>
              <string>RO</string>
            </array>
            <array>
              <string>Russian Federation (the)</string>
              <string>RU</string>
            </array>
            <array>
              <string>Rwanda</string>
              <string>RW</string>
            </array>
            <array>
              <string>Saint Barth&amp;eacute;lemy</string>
              <string>BL</string>
            </array>
            <array>
              <string>Saint Helena, Ascension and Tristan da Cunha</string>
              <string>SH</string>
            </array>
            <array>
              <string>Saint Kitts and Nevis</string>
              <string>KN</string>
            </array>
            <array>
              <string>Saint Lucia</string>
              <string>LC</string>
            </array>
            <array>
              <string>Saint Martin (French part)</string>
              <string>MF</string>
            </array>
            <array>
              <string>Saint Pierre and Miquelon</string>
              <string>PM</string>
            </array>
            <array>
              <string>Saint Vincent and the Grenadines</string>
              <string>VC</string>
            </array>
            <array>
              <string>Samoa</string>
              <string>WS</string>
            </array>
            <array>
              <string>San Marino</string>
              <string>SM</string>
            </array>
            <array>
              <string>Sao Tome and Principe</string>
              <string>ST</string>
            </array>
            <array>
              <string>Saudi Arabia</string>
              <string>SA</string>
            </array>
            <array>
              <string>Senegal</string>
              <string>SN</string>
            </array>
            <array>
              <string>Serbia</string>
              <string>RS</string>
            </array>
            <array>
              <string>Seychelles</string>
              <string>SC</string>
            </array>
            <array>
              <string>Sierra Leone</string>
              <string>SL</string>
            </array>
            <array>
              <string>Singapore</string>
              <string>SG</string>
            </array>
            <array>
              <string>Sint Maarten (Dutch part)</string>
              <string>SX</string>
            </array>
            <array>
              <string>Slovakia</string>
              <string>SK</string>
            </array>
            <array>
              <string>Slovenia</string>
              <string>SI</string>
            </array>
            <array>
              <string>Solomon Islands</string>
              <string>SB</string>
            </array>
            <array>
              <string>Somalia</string>
              <string>SO</string>
            </array>
            <array>
              <string>South Africa</string>
              <string>ZA</string>
            </array>
            <array>
              <string>South Georgia and the South Sandwich Islands</string>
              <string>GS</string>
            </array>
            <array>
              <string>South Sudan</string>
              <string>SS</string>
            </array>
            <array>
              <string>Spain</string>
              <string>ES</string>
            </array>
            <array>
              <string>Sri Lanka</string>
              <string>LK</string>
            </array>
            <array>
              <string>Sudan (the)</string>
              <string>SD</string>
            </array>
            <array>
              <string>Suriname</string>
              <string>SR</string>
            </array>
            <array>
              <string>Svalbard and Jan Mayen</string>
              <string>SJ</string>
            </array>
            <array>
              <string>Sweden</string>
              <string>SE</string>
            </array>
            <array>
              <string>Switzerland</string>
              <string>CH</string>
            </array>
            <array>
              <string>Syrian Arab Republic</string>
              <string>SY</string>
            </array>
            <array>
              <string>Taiwan (Province of China)</string>
              <string>TW</string>
            </array>
            <array>
              <string>Tajikistan</string>
              <string>TJ</string>
            </array>
            <array>
              <string>Tanzania, United Republic of</string>
              <string>TZ</string>
            </array>
            <array>
              <string>Thailand</string>
              <string>TH</string>
            </array>
            <array>
              <string>Timor-Leste</string>
              <string>TL</string>
            </array>
            <array>
              <string>Togo</string>
              <string>TG</string>
            </array>
            <array>
              <string>Tokelau</string>
              <string>TK</string>
            </array>
            <array>
              <string>Tonga</string>
              <string>TO</string>
            </array>
            <array>
              <string>Trinidad and Tobago</string>
              <string>TT</string>
            </array>
            <array>
              <string>Tunisia</string>
              <string>TN</string>
            </array>
            <array>
              <string>Turkey</string>
              <string>TR</string>
            </array>
            <array>
              <string>Turkmenistan</string>
              <string>TM</string>
            </array>
            <array>
              <string>Turks and Caicos Islands (the)</string>
              <string>TC</string>
            </array>
            <array>
              <string>Tuvalu</string>
              <string>TV</string>
            </array>
            <array>
              <string>Uganda</string>
              <string>UG</string>
            </array>
            <array>
              <string>Ukraine</string>
              <string>UA</string>
            </array>
            <array>
              <string>United Arab Emirates (the)</string>
              <string>AE</string>
            </array>
            <array>
              <string>United Kingdom of Great Britain and Northern Ireland (the)</string>
              <string>GB</string>
            </array>
            <array>
              <string>United States Minor Outlying Islands (the)</string>
              <string>UM</string>
            </array>
            <array>
              <string>United States of America (the)</string>
              <string>US</string>
            </array>
            <array>
              <string>Uruguay</string>
              <string>UY</string>
            </array>
            <array>
              <string>Uzbekistan</string>
              <string>UZ</string>
            </array>
            <array>
              <string>Vanuatu</string>
              <string>VU</string>
            </array>
            <array>
              <string>Venezuela (Bolivarian Republic of)</string>
              <string>VE</string>
            </array>
            <array>
              <string>Viet Nam</string>
              <string>VN</string>
            </array>
            <array>
              <string>Virgin Islands (British)</string>
              <string>VG</string>
            </array>
            <array>
              <string>Virgin Islands (U.S.)</string>
              <string>VI</string>
            </array>
            <array>
              <string>Wallis and Futuna</string>
              <string>WF</string>
            </array>
            <array>
              <string>Western Sahara</string>
              <string>EH</string>
            </array>
            <array>
              <string>Yemen</string>
              <string>YE</string>
            </array>
            <array>
              <string>Zambia</string>
              <string>ZM</string>
            </array>
            <array>
              <string>Zimbabwe</string>
              <string>ZW</string>
            </array>
          </array>
        </dict>
        <key>description</key>
        <string>Select default contry to apply if country code is missing</string>
        <key>label</key>
        <string>Default country code</string>
        <key>type</key>
        <string>popupbutton</string>
        <key>variable</key>
        <string>country_code</string>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>defaultvalue</key>
          <integer>10</integer>
          <key>markercount</key>
          <integer>5</integer>
          <key>maxvalue</key>
          <integer>50</integer>
          <key>minvalue</key>
          <integer>1</integer>
          <key>onlystoponmarkers</key>
          <false></false>
          <key>showmarkers</key>
          <true></true>
        </dict>
        <key>description</key>
        <string>Select amount of results to show</string>
        <key>label</key>
        <string>Number of results</string>
        <key>type</key>
        <string>slider</string>
        <key>variable</key>
        <string>slice_amount</string>
      </dict>
    </array>
    <key>version</key>
    <string>2.1.0</string>
    <key>webaddress</key>
    <string>https://github.com/Avivbens/alfred-engage-contact</string>
  </dict>
</plist>